/**
 * @author Weihong Cen, Andrew Huang
 * @date 05/13/2024
 */

#game-view {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
}

#order-UI {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
}

#order-UI .correct-order {
  background-color: #BEFFC5;
}

#order {
  background-color: #FFFCF7;
  width: 200px;
  height: 100%;
  border-radius: 5px;
  filter: drop-shadow( 2px 2px 4px #00000020);
  padding: 20px;
  margin-top: 10px;
  overflow: auto;
  box-sizing: border-box;
}

#station {
  display: flex;
  height: 50%;
  margin: 20px 0;
}

#serve {
  margin-left: auto;
  margin-top: auto;
}

#HUD {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 10vh;
}

#assembly {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100%;
  width: 100%;
}

#assembly img {
  cursor: pointer;
}

#assembly img:hover {
  opacity: 0.5;
}

.ingredient {
  max-width: 20%;
}

#ingredient-list {
  background-color: #EBDFC2;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  width: auto;
  height: auto;
  gap: 10px;
  padding: 10px;
  border-radius: 20px;
  overflow-y: auto;
}

.ingredient-card {
  height: auto;
  min-width: 200px;
  width: 23%;
  background-color: #FFFFFF;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.ingredient-card:hover {
  background-color: #BEFFC5;
}

.ingredient-card:active {
  transform: translate(0px, 2px);
}

.img-container {
  height: 50px;
  display: flex;
  justify-content: center;
}

.ingredients {
  width: 120px;
  margin: auto;
}