#game {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 20px;
}

#order {
  background-color: #FFFCF7;
  width: 240px;
  border-radius: 5px;
  filter: drop-shadow( 2px 9px 15px #40404040);
  padding: 10px 20px;
  overflow: auto;
}

#station {
  display: flex;
  height: 40%;
  margin: 20px 0;
}

#serve {
  margin-left: auto;
  margin-top: auto;
}

#HUD {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 10vh;
}

#assembly {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.ingredient {
  max-width: 20%;
}

#ingredient-list {
  background-color: #EBDFC2;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  overflow-y: auto;
}

.ingredient-card {
  height: auto;
  width: 200px;
  background-color: #FFFFFF;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.ingredient-card:hover {
  background-color: #BEFFC5;
}

.ingredient-card:active {
  transform: translate(0px, 2px);
}

.img-container {
  height: 50px;
  display: flex;
  justify-content: center;
}

.ingredients {
  width: 120px;
  margin: auto;
}