/* Color palette */
:root {
  --orange-yellow: #FFF7E4;
  --watermelon: #FF4B44;
}

#menu-view h1 {
  font-size: 48pt;
  color: var(--watermelon);
  text-align: center;
  background-image: linear-gradient(135deg, #FF9921, #FF4646);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin: 0 auto;
}

h2 {
  font-size: 16pt;
  margin: 0;
}

p {
  margin: 0;
}

#HUD p {
  font-size: 20pt;
  font-weight: bold;
  width: 200px;
  text-align: center;
}


button {
  font-size: 20pt;
  font-weight: bold;
}

select {
  font-size: 16pt;
}

.difficulty button {
  color: var(--watermelon);
}

.difficulty button:hover, .difficulty .selected {
  color: var(--orange-yellow);
}

.ingredient-card strong {
  margin: auto;
}